body{
	margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.6s;
}

nav{
    text-align: center;
    background-color: rgb(61, 61, 61);
	height: 90px;
	position: relative;
	top: 0px;
}

nav .back a{
    position: relative;
    left: 500px;
    top: -45px;
    color: yellow;
}

form{
    position: relative;
    left: 100px;
    width: 1000px;
}

.text h4{
    padding-top: 25px;
	text-align: center;
    font-size: xx-large;
    margin-top: 0px;
    color: white;
}

.text1,.text2, .text3, .text4, .text5, .text6, .text7, .text8, .text9{
    position: relative;
    top: 20px;
}

.text1 input, .text2 input, .text3 input, .text4 input, .text5 input, .text6 input, .text7 input, .text8 input, .text9 input{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    width: 400px;
    height: 35px;
    font-size: medium;
} 

.status input{
    position: relative;
    top: -885px;
    width: 200px;
    height: 35px;
    background-color: rgb(61, 61, 61);
    color: white;
    font-size: large;
    text-align: center;
    left: 1000px;
}